@import "../sass/_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "../sass/_fonts.sass"
@import "../sass/_icons.sass"

body
    font-family: Ubuntu
h1
    color: red
footer 
    div
        #foot 
            background-image: url($footer-img)
        div
            div
                .fab
                    color: white
    
