@import "../sass/_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "../sass/_fonts.sass"
@import "../sass/_icons.sass"

header

    height: 600px
    li:hover
        background-color: red
    p
        font-size: 60px
        font-family: cour
        color: white
        .premier
            text-transform: uppercase
            color: white
        .deuxieme
            text-transform: uppercase
        .troisieme
            color: white
    .carousel   
        height: max-content 
        .carousel-control-prev
            display: none
        .carousel-control-next
            display: none
        .carousel-indicators

                li 
                    height: 15px
                    width: 15px
                    border-radius: 50%

body
    font-family: Ubuntu
    background-image: url(../../public/images/main_bg.jpg)    

li 
    list-style: none
    color: white
a
    color: white
span 
    color: red
section 
    &:first-of-type
        .menu
            margin: 25px 10%
            background-color: white
            h4
                font-family: cour
            div
                &:nth-child(2)
                    #intro
                        font-size:  12px
        .menuItems
            border-radius: 50%
            height: 100px
            border: solid #eaeaea 4px
        .carte
            border-bottom: 2px dashed grey
            margin: 5px
        .meal
            font-family: cour 
            font-size: 20px
    &:nth-of-type(2)
        background-image: url("../../public/images/team_background.jpg")
        color: white
        h4 
            font-family: cour
        .row
            .col
                .chef
                    height: 150px
                    width: 100px
    &:nth-last-of-type(3)
        .booking
            margin: 25px 10%
            background-color: white
            .text
                font-family: cour
            .form
                background-image: url("../../public/images/book_table_bg.jpg")
                color: white
                border-radius: 10px
                form
                    input
                        border-radius: 15px
                    select 
                        border-radius: 15px
                button
                    border-radius: 15px
            .blog
                border: solid #e1e0e0 5px
                border-radius: 15px
                width: 350px
                height: 200px  
                position: relative
                button
                    border-radius: 25px
            .blg
                position: absolute
                top: 175px
                left: 35px
    &:nth-last-of-type(2)
        background-image: url("../../public/images/testimonials_background.jpg")
        color: white
        h4 
            font-size: 40px  
            font-family: cour
        div
            &:first-child
                text-align: center
            &:nth-child(2)               
                img 
                    border-radius: 50%
                    height: 150px
                    width: 150px
                    border: white 3px solid
                    padding: 0 0
            .txt-box
                margin-left: 4px
                margin-right: 4px
                border-radius: 15px
    &:last-of-type
        h3
            font-family: cour
        .contact
            border-radius: 15px
            margin: auto
            width: 25%
            height: 25%
            color: white
            text-align: center
            hr 
                left: 10%
                right: 10%

footer 
    div
        #foot 
            background-image: url($footer-img)
        div
            div
                .fab
                    color: white
    
@media (max-width: 568px)
    section 
        &:last-of-type
            .contact
                width: 90%
    footer 
        width: 100%
        .row
            display: flex
            flex-direction: column
            .col :
                width: 75%
                margin-top: 15px